.jobDetails {
    padding: 40px 80px; 
    display: flex;
    flex-direction: row;
    font-weight: bold;
    gap: 20px; 
}

.Details {
    flex: 9;
}

.Bars {
    flex: 3;
}

/* Make it responsive */
@media (max-width: 1200px) {
    .jobDetails {
        flex-direction: column;
        padding: 20px;
    }
    .Details, .Bars {
        flex: 1;
    }
}



@media (max-width: 768px) {
    .jobDetails {
        padding: 15px;
    }

    .Details, .Bars {
        width: 100%; /* Make each div take full width */
    }

    .Bars{
        padding: 0;
        width: 100%;
    }
}

@media (max-width: 480px) {
    .jobDetails {
        padding: 10px;
        font-size: 14px; /* Adjust text size for smaller screens */
    }

    .Bars {
        margin-top: 20px; /* Add some spacing between sections */
        
    }
}
